:root {
  // variables
  --container: 1366px;
  --padding: 22px;

  //Colors
  --primary-text: #01080E;
  --primary-bg: #011627;
  --primary-3: #011221;
  --light-color: #E5E9F0;

  --secondary: #607B96;
  --secondary-green: #3C9D93;
  --secondary-blue: #4D5BCE;
  --secondary-lightblue: #4da9ce;
  --secondary-white: #FFFFFF;

  --accent-orange: #FEA55F;
  --accent-green: #43D9AD;
  --accent-red: #E99287;
  --accent-pink: #C98BDF;
  --accent-yellow: #dcdf8b;

  --color-line: #1E2D3D;

  //Font size
  --fs-title: 62px;
  --fs-subtitle: 32px;
  --fs-default: 18px;
  --fs-label: 16px;
  --fs-code: 14px;

  //Breakpoints
  --bp-mobile: 425px;
  --bp-tablet: 768px;
  --bp-note: 1024px;
  --bp-pc: 1440px;
}
