@mixin _xs {
  @media (max-width: 600px) {
    @content
  }
}

@mixin _sm {
  @media (max-width: 960px) {
    @content
  }
}

@mixin _md {
  @media (max-width: 1264px) {
    @content
  }
}

@mixin _lg {
  @media (max-width: 1904px) {
    @content
  }
}

@mixin _xlg {
  @media (min-width: 1904px) {
    @content
  }
}

@mixin font($fs:var(--fs-default), $color: var(--secondary)) {
  color: $color;
  font-size: $fs;
  transition: .3s font-size;
}