{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": false,
  "vueIndentScriptAndStyle": true,
  "tabWidth": 4,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 100,
  "trailingComma": "none",
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue"
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "parser": "json"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
