@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
        url('@/shared/assets/fonts/bebasneue/bebasneuethin.woff2') format('woff2'),
        url('@/shared/assets/fonts/bebasneue/bebasneuethin.woff') format('woff'),
        url('@/shared/assets/fonts/bebasneue/bebasneuethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light'), local('BebasNeue-Light'),
        url('@/shared/assets/fonts/bebasneue/bebasneuelight.woff2') format('woff2'),
        url('@/shared/assets/fonts/bebasneue/bebasneuelight.woff') format('woff'),
        url('@/shared/assets/fonts/bebasneue/bebasneuelight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Book'), local('BebasNeueBook'),
        url('@/shared/assets/fonts/bebasneue/bebasneuebook.woff2') format('woff2'),
        url('@/shared/assets/fonts/bebasneue/bebasneuebook.woff') format('woff'),
        url('@/shared/assets/fonts/bebasneue/bebasneuebook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
        url('@/shared/assets/fonts/bebasneue/bebasneueregular.woff2') format('woff2'),
        url('@/shared/assets/fonts/bebasneue/bebasneueregular.woff') format('woff'),
        url('@/shared/assets/fonts/bebasneue/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
        url('@/shared/assets/fonts/bebasneue/bebasneuebold.woff2') format('woff2'),
        url('@/shared/assets/fonts/bebasneue/bebasneuebold.woff') format('woff'),
        url('@/shared/assets/fonts/bebasneue/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
